<span>
  <p *ngIf="tweets">
    Results Count {{tweets.length}}
    </p>
    <div *ngFor="let tweet of tweets">
      <div class="card">
        <div class="card-image">
          <img src={{tweet.user.profile_image_url}}>
        </div>
        <div class="right-content">
          <span class="card-title">{{tweet.user.name}}</span>
          <div class="card-content">
            <p>{{tweet.text}}</p>
          </div>
        </div>
      </div>
    </div>
  <span *ngIf="errors">
    <div class="alert alert-danger" role="alert" *ngFor="let err of errors">
      <p>{{err.message}}</p>
    </div>
  </span>
</span>
