<div class="card">
  <div class="card">
    <div class="cardblock">
      <form #searchForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10" >
        <div class="form-group">
          <label for="numberOfTweets">Enter desired number of results</label>
          <input type="number" [(ngModel)]="query.numberOfTweets" name="numberOfTweets">
        </div>
        <div class="form-group">
          <label for="search">Search twitter</label>
          <input id="search" type="text" [(ngModel)]="query.search" required name="search">
        </div>
        <div class="row">
          <div class="col-md-10">
            <label for="searchType">Choose what your would like to search for on twitter. Username or hashtag/location string. </label>
          </div>

          <div class="form-check radio  btn">
            <div class="col-md-6">

              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="hashTag" required [(ngModel)]="query.searchType"> search by Hashtag or Location String
            </div>
          </div>
          <div class="form-check radio btn" >
            <div class="col-md-6">

              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="username" required [(ngModel)]="query.searchType"> search by user name
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" class="btn btn-success" [disabled]="!searchForm.form.valid">Search tweets by User</button>
      </form>
    </div>
  </div>
