<div class="container">

  <app-search
  (searchClicked)="onSearchClicked($event)"
  (userSeachClicked)="onUserSeachClicked($event)"
  ></app-search>

  <app-tweets
  [tweets]="tweets"
  [errors]="errors"
  ></app-tweets>
</div>
